/*   site dom   */    
    
/*    nav-mobile    */
    
    nav{
        background-color:#000000;
        min-width: 30px; min-height: 30px;
        max-width: calc(100% - 60px);
        position: fixed;
        left: 30px;
        top: 30px;
        padding:30px;
        border-radius:45px;
        overflow: visible;
            z-index: 1000!important;
            -webkit-transform:translateZ(1000px);
            -moz-transform:translateZ(1000px);
            -o-transform:translateZ(1000px);
            transform:translateZ(1000px);
            -webkit-transform: translate3d(0,0,1000px);
    }
    nav, .nav-open ul li a, #main.container, .column{
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;	
        flex-direction: column;
/*             transition 1.5s; */
    }

        .logo{
            width: 30px;
            height: 30px;
            z-index: 1000;
            position: absolute;
            background-color:black;
        }
        
        .nav-open{
            background-color: transparent;
        }

        .nav-open .logo{
            background: transparent;
        }

            #nav_circle{
                width: 90px;
                height: 90px;
                background-color: #000000bb;
                border-radius: 500px;
                top: 0px;
                left: 0px;
                position:absolute;
                transform-origin: center;
                transition: .45s ease-out;
            }
            .nav-open #nav_circle{
                transform: scale(25);
            }

        #title{
            width: 0;
            height: 30px;
                display: flex;
                display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            transition: .15s cubic-bezier(0.43, 1.5, 0.85, 0.92);
                align-items: center;
            z-index: 1000;
        }

            .title-open{
                width: 100%!important;
                padding-left: 60px;
                padding-right: 15px;
            }	
           
            #title *{
                transition: 2s;
                vertical-align: center;
            }

            .close{
                width: 0;
                transition: 4s;
            }

    /*  ul  */

            .nav-open ul{
                z-index: 999;
                width: calc(100vw - 120px);
                margin-top: 45px;
            }

                .nav-open ul li{
                    height: 45px;
                            display: flex;
                            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                            display: -ms-flexbox;  /* TWEENER - IE 10 */
                            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                }

                    nav ul li a{
                        height: auto;
                        width: 100%;
                            display: flex;
                            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                            display: -ms-flexbox;  /* TWEENER - IE 10 */
                            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                            justify-content: center;
                    }
            nav:not(.nav-open) ul{
                display: none;
            }   

/* page load */

    #main.container{
        z-index: 000;
        width: 100%;
		transition: 610.895ms ease-out 2ms;
	}
	
		.container-open{margin-top: 150px;}	
		.container-close{margin-top: 0;}	

			.hero{
				text-align:right;
				/* height: 100vh; */
			}

				.hero .hero-img{
					/* position:absolute; */
					height: 60vh;
					width: 100%;
					background-attachment: fixed;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}

				.hero .column{
					background-color: grdient;
					padding-bottom: 45px;
					height:auto;
					bottom: 0;
					/* position: absolute; */
				}

			.column{
				padding: 30px 30px 0 30px;
			}

			.column + *:not(.column){
				padding-top: 30px;
			}

		section[class*="img"]{
			position: relative;
			width: 100%;
		}

		section.rightimg{
			text-align: right
		}

			section[class*="img"] .column{
				padding-bottom: 30px;
				position: absolute;
				height: 100%;
				justify-content: center;
			}

				section.leftimg .column{
					right: 0;
				}

				section.rightimg .column{
					left: 0;
				}

			section[class*="img"] > *{
				width: 50%;
			}
			section.rightimg img{float: right;}
			section.leftimg img{float: left;}



    /*  projects  */
        
            .projects a[role="button"]{
                width: 100%;
                height: 150px;
                border: 0;
                background-size: cover;
                display: flex;
                display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                justify-content: center;
                align-items: center;
            }   
/* .projects */

		#projects a{
			position: relative;
			transition: 1.25s;
		}

			.proj-title{
				opacity: 0;
			}
				.proj-hover .proj-title{
					opacity: 0;
					transition: 0s;
				}
				.proj-bg .proj-title{
					opacity: 1!important;
					transition: .75s;
					z-index: 900;
				}

				a.proj-bg:before{
					opacity: .3;
					transition: .25s;
				}

			.proj-hover{
				height:300px!important;
				transition: 2s;
			}
	
			#projects a::before{
				content: "";
				position: absolute;
				top: 0;
				left:0;
				bottom:0;
				right:0;
					background-size: cover;
					background-repeat: no-repeat;
			}
			.drp::before{background-position-y:35%;background-image: url("../images/boxes/4.png");}             
			.ss::before{background-position-x: 42%;background-position-y: 15%;background-image: url("../images/boxes/5.png");}
			.ss .hero .hero-img{
				background-image: url("../images/portfolio/ss/ss.jpg");
				background-attachment: f;
				width: calc(100% - 30px);
				right: 0;
				position: relative;
			}

.hero-img {}
			.print::before{background-position-y:35%; background-image: url("../images/boxes/3.png");}
			.web::before{background-position-y:35%; background-image: url("../images/boxes/1.png");}
			.layout::before{background-position-y:35%; background-image: url("../images/boxes/6.png");}
			.on::before{background-position-y:35%; background-image: url("../images/portfolio/on/on_logo@2x.png");}
			.logos::before{background-position-y:35%; background-image: url("../images/boxes/2.png");}

        #projects a[role="href"]:not(.brief){
            height: 0vh!important;
        }

        #projects :not(:have(.brief)) *{
            height: 150px!important;
        }

        
        .brief{
            height: 100vh!important;
            text-align: right;
        }

        .proj-details{
            opacity:0;
            position:absolute;
            background-color:#000000ed;
            bottom: 0;
            transition: .8s;
            overflow: hidden;
            height:0;
            padding: 0;
        }   

        .proj-hide{
            height: 0!important;
        }

        .brief .proj-details{
            opacity: .8;
            padding: 60px 60px;
            height: auto;
        }    

            .proj-details a{
                margin-top:45px;
                background-color: white;
                color: black!important;
                border: 2.4px solid #ffffff91;
                line-height: 1;
                height: 42px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 200px;
                float: right;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                .icon{
                    height: 24px;
                    width: auto;
                    background-color: red;
                    margin-bottom: 30px;
                    float: right;
                }





@media all and (min-width: 500px){
    
	.projects{
 		animation: unset;
	}

    a.proj{
        flex-basis: 0 0 150px;
    }

}

@media all and (min-width: 700px){
    
}


@media all and (min-width: 1024px){
    
    main{
        height: 100vh;
    }

    section#projects{
        height: 100% - 150px;
        width: 75%;
        margin-left: auto;
    }

        a.proj{
            width: 33.3333%;
        }

}