/*   root settings   */

    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        border: none;
        background-repeat: no-repeat;
        color: white!important;
        box-sizing: border-box;
    }   

    :root{font-size: 30px;}   
    body > *, .column{
        display: flex;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    }
    *:focus{outline: none;}
    ul, ol{list-style: none;}
    a{text-decoration: none;}


/*   typography   */    

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        body {-webkit-text-size-adjust: none;}
    }

    body{
        font-family: 'Nunito', 'Helvetica', 'Arial', 'sans-serif'!important;
        background-color: black;
    }
    
        p{
            font-family: 'Nunito', 'Helvetica', 'Arial', 'sans-serif'!important;
            text-transform: none!important;
            line-height: 1.75em;
            letter-spacing: .05em!important;
        }

            p + p{
                margin-top: 20px;
            }
        
        h2, h3{
            margin-bottom: 20px;
            letter-spacing:.0667em!important;
        }

        h2{
            line-height: 1.33;
        }

        h3{
            line-height: 1.5;
        }

        h3, #main, button, .btn, nav{
            font-size: 12.25px;
            min-width: 90px;
            letter-spacing: .075em;
        }

        button{
            font-family: 'Gotham', 'Montserrat', 'Helvetica', 'Arial', 'sans-serif'!important;
            text-transform: uppercase!important;
        }

    img{
        max-width: 100%;
        height: auto;
    }

        .img-half{
            width: 50%;
        }