<div class="column">
	<h3>A Banknote for the Future</h3>
	<p>The nation's currency design hardly represents its composition. This is not a country of landowners. Americans deserve money that looks like them.</p>
	<hr>
	<p>Denominations lack any individual importance, as all are of the same size and are congested with unnecessary flourishes and framing elements. Despite the vast pool of portriats possible, all exclusively feature 18th and 19th century Washington elites.</p>
</div>
<div class="column">
	<h3>Goals</h3>
	<p>Goal: Incorporate major segments of American history, from pre-Colonialism to present, and expanding access for the blind and visually impaired for a sustainable, international design.</p>
</div>	
<div class="column">
	<h3>Features</h3>
	<p>1st Place, Graphic Design — MS Collegiate Art Competition 2014<br>
	1st place, Graphic Design — HCC Student Show 2014<br>
	Behance Student Show<br>
	<a href="http://inspirationfeed.com/inspiration/print-inspiration/25-refreshing-currency-redesign-concepts/2/">inspirationfeed</a></p>
</div>
<img class="img_full" src="images/portfolio/drp/001.png" alt="One Dollar Bill Redesign concept featuring Iroquois Woman, from The Dollar Redesign Project by Cecil Dunston">
<img class="img_full" src="images/portfolio/drp/005.png" alt="One Dollar Bill Redesign concept featuring Iroquois Woman, from The Dollar Redesign Project by Cecil Dunston">
<img class="img_full" src="images/portfolio/drp/010.png" alt="One Dollar Bill Redesign concept featuring Iroquois Woman, from The Dollar Redesign Project by Cecil Dunston">
<img class="img_full" src="images/portfolio/drp/020.png" alt="One Dollar Bill Redesign concept featuring Iroquois Woman, from The Dollar Redesign Project by Cecil Dunston">
<img class="img_full" src="images/portfolio/drp/050.png" alt="One Dollar Bill Redesign concept featuring Iroquois Woman, from The Dollar Redesign Project by Cecil Dunston">
<img class="img_full" src="images/portfolio/drp/100.png" alt="One Dollar Bill Redesign concept featuring Iroquois Woman, from The Dollar Redesign Project by Cecil Dunston">