<div class="column">
	<h3>ABOUT</h3>
	<p>Research project, on state and national trends in mental health policy, and affect on those suffering from SMI.</p>
</div>
<div class="column">
	<h3>RESEARCH</h3>
	<p>Studies from the National Allince on Mental Illness and Treatment Advocacy Center, along with pending policy such as the Mental Health Reform Act of 2015/16, which is currently being debated in the US Senate after having had previous bi-partisan support. </p>
</div>
<div class="column">
	<h3>FINDINGS</h3>
	<p>Recent cuts in state funding of mental health facilities in states like Illinois was made palatable by most of these patients already being in jail. Compound this with already anemic access and health insecurity for the working class, and opt-outs against expanding Medicaid to those meeting 138% of the federal poverty line (less than $14,000) by red states.</p>
	<hr>
	<p>These problems, not without a lack of Intervention Training for law enforcement and weak public committment laws, mean that the poor are esseltially untreated and thus ripe for criminalization. Add to this the intersectionalities of classism and racism and one can understand the death spiral so many with SMI face.</p>
</div>
<img class="img_full" src="../images/portfolio/prf/prf.png" alt="'Title Page' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf2.png" alt="'Assisted Outpatient Treatment' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf3.png" alt="'Assisted Outpatient Treatment: States' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf4.png" alt="'Mental Health Courts' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf5.png" alt="'Mental Health Courts: About' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf6.png" alt="'Crisis Intervention Training' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf7.png" alt="'Crisis Intervention Training: About' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf8.png" alt="'Mental Health Policy: Problems' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf9.png" alt="'Prisons are the number one provider of mental health care in the US' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf10.png" alt="'Intersectionality and People of Color' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf11.png" alt="'Anosognosia: the lack of understanding of one's own mental illness' from Policy Research Forum by Cecil Dunston">
<img class="img_full" src="../images/portfolio/prf/prf12.png" alt="'References' from Policy Research Forum by Cecil Dunston">