<div class="hero">
	<div class="hero-img"></div>
	<div class="column">
		<h2>Sample Text<br>Header Goes<br>Here</h2>
		<p>Annual military appreciation game presented by the Syracuse University Office of Veterans &amp; Military Affairs. A day of events honoring servicemen and women, SU’s committment to veterans and Orange sports culture.</p>
		<p>Several promotional materials—5" x 7" invitation, parking passes, welcome signs, web graphics, and an updatable promo package for future games.</p>
	</div>
</div>

<section class="rightimg">
	<img src="../images/portfolio/posters/posters (5).jpg" alt="Previous versions of 5 by 7 inch invitations from 2014 and 2015 from Stars and Stripes by Cecil Dunston">
	<div class="column">
		<h3>From SU</h3>
		<p>SU Style Guidelines<br>
		OVMA Style Guidelines<br>
		SU Athletics Image Usage Guidelines</p>
	</div>
</section>
<section class="leftimg">
	<img src="../images/portfolio/posters/posters (7).jpg" alt="Previous versions of 5 by 7 inch invitations from 2014 and 2015 from Stars and Stripes by Cecil Dunston">
	<div class="column">
		<h3>From SU</h3>
		<p>SU Style Guidelines<br>
		OVMA Style Guidelines<br>
		SU Athletics Image Usage Guidelines</p>
	</div>
</section>
<div class="column">
	<h3>2014 &amp; 2015</h3>
	<p>The first IVMF design (left) was the reference point after joining. An update for 2015 with orange headers and footers, streamling the overall composition by subtraction, was the goal.</p>
</div>	
<img class="img_half" src="../images/portfolio/ss/wordmark-evolution.gif" alt="Stars and Stripes wordmark evolution from Franklin Gothic Condensed Bold to Gotham to finally a modified wordmark based on Gotham, with a star replacing the A and three horizontal stripes replacing the E from Stars and Stripes by Cecil Dunston">
<div class="column">
	<h3>Type</h3>
	<p>SU used the Franklin family exclusively until recently. As a team it was agreed that the event deserved a deviation, even if tiny, from brand elements.</p>
</div>
<img class="img_half" src="../images/portfolio/ss/2015_2016.png" alt="Stars and Stripes final wordmark development with star for a and stripes for e from Stars and Stripes by Cecil Dunston">
<img class="img_half topmargin75" src="../images/portfolio/ss/flag-gif-2.gif" alt="Event artwork with waving flag background animation from Stars and Stripes by Cecil Dunston">
<div class="column">
	<h3>2016</h3>
	<p>Ideal flow from event title to picture to details in a more formal, streamlined composition. Redundancy and clutter of shield was realized early on in the conceptualization. Removal of "Presents" line from 2015 version, along with the helmet bleeding into the header space for visual interest. Experimented with event details flush left and right.</p>
</div>
<img class="img_full" src="../images/portfolio/ss/photoshop-gif.gif" alt="Photoshop image editing process for football uniforms from Stars and Stripes by Cecil Dunston">
<div class="column">
	<h3>IMAGES</h3>
	<p>Image use restrictions lead the team to explore commercial photography that could then be edited and used for future games. Close attention was paid to creating reusable files, with desaturated layers under layers of color, with varying blending modes in Adobe Photoshop.</p>
</div>
<img class="img_full" src="../images/portfolio/ss/mockup2.png" alt="Left: Final 5 by 7 inch invitation. Right: in-hand mockup from Stars and Stripes by Cecil Dunston">
<img style="margin: 0;" class="img_full" src="../images/portfolio/ss/mockup.png" alt="Final close-up view of 5 by 7 inch invitation from Stars and Stripes by Cecil Dunston">