<div class="column">
	<h3>Profile</h3>
	<p>Graphic Designer and third-year Web student specializing n Brand Visualization, Print, and UI/UX.<br>
	Additional experience with Advertising, Communications Design and 3D.</p>
</div>
<div class="column">
	<h3>Interests</h3>
	<p style="margin-bottom: 0;">Expansive projects with different disciplines and contexts. Passion for concise solutions to complex problems. Hopes to work within a competitive and diverse concept/research-oriented team, with opportunities to learn cool techniques and hone programming languages.</p>
</div>
<div class="column" style="padding: 0;">
	<h3 style="margin:0;">Lets Work</h3>
	<a href="../resume"><button>Resume</button></a>
	<a href="mailto:hello@cecildunston.com?Subject=Hello" target="_blank"><button>Contact</button></a>
</div>
<div class="column">
	<h3>Current Reads</h3>
	<p style="margin-bottom: 0;">
		<a href="https://abookapart.com/products/on-web-typography">On Web Typography</a></br>
		<a href="http://books.google.com/books/about/Information_Technology_Project_Managemen.html?id=mPeoBAAAQBAJ">IT Project Management</a></br>
		<a href="http://www.historyisaweapon.com/zinnapeopleshistory.html">A People's History of the United States</a>
	</p>
</div>