<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	<link rel="stylesheet" type="text/css" href="fonts/fonts.css" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/dom-styles.css">
	<link rel="stylesheet" type="text/css" href="css/root-and-fonts.css">
	<script src="js/lib/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-ui/build/angular-ui.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- Local -->
	<script src="js/app.js"></script>
	<script src="js/nav.js"></script>
 	<script src="js/projects.js"></script>
	<title>Cecil Dunston</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body ng-app="app" >

	<nav>
		<img class="logo" src="images/logo/logo.svg" alt="Cecil Dunston (Logo)"/>
		<a href="/" id="title">
			<div id="ticker" class="close"><span>Web + <br>Design</span></div>
			<div id="name"><span class="firstname">Cecil</span><br><span class="lastname">Dunston</span></div>
		</a>
		<ul>	
			<li><a href="/about" class="addmenu">About</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/">Projects</a></li>
		</ul>
		<span id="nav_circle"></span>
	</nav>
	
  	<ng-view id="main" class="container container-open {{pageClass}}" role="main">
		<!-- <section id="projects"></section> -->
	</ng-view>
	
</body>
</html>